body {
background: #a8cef4;
}

::selection {
color:white;
background:#0668bf;
}

::-moz-selection {
color:white;
background:#0668bf;
}


.wrapper {
background: white;
width: 100%;
display: inline-block;
height: 88px;
margin-bottom:24px;
}
.container{
width:1140px;
margin:0 auto;
padding:0;
display: block;
}

.col{
display:inline;
box-sizing:border-box;
margin-bottom:2%!important;
}

.col-12{
float: left;
padding: 12px 20px;
width:100%;
display: block;
}

.col-8{
width:740px;
float: left;
background:white;
display: block;
padding: 21px;
margin-bottom: 21px;
}

.col-6{
float: left;
width:47%;
display: block;
}

.col-4{
width:375px;
float: right;
display: block;
margin-bottom: 24px;

}

/* ==============================================
   STANDAARD
   ============================================== */
   
a {
text-decoration: none;
color: #0668bf;
}

ul {
list-style-type: none;
margin: 0;
padding:0;
}

/* ==============================================
	NAVIGATIE
	============================================== */
#logo {
float: left;
}
#logo h1{
width: 240px;
margin:0;
}

#navigation {
float: right;
margin-top:34px;
}

#logo h1 a{
text-indent:-999em;
background:url('images/jeroenknockaert-logo.svg') no-repeat;
background-size: 213px 48px;
display:block;
width: 210px;
height: 40px;
margin-top: 22px;
}
#navigation ul li {
display: inline;

}
#navigation ul li a {
//float: left;
font-family: lato;
font-weight:400;
text-transform: uppercase;
color: black; 
padding: 12px 10px;
margin-top: 24px;
font-size: 16px;
opacity: 0.8;
}
#navigation ul li a:hover {
opacity: 1;
background: black;
color: white;
}

/* ==============================================
	SLIDER
	============================================== */
	
.slideshow {
position: relative;
z-index:0;
}
.slideshow-post {
background:rgba(0,0,0,0)!important;
}
.slideshow-post-image {
width: 1140px;
}

#prev {
top: 168px;
left: 24px;
}

#next {
right: 0px;
top: 168px;
float: right;
margin-right: 24px;
}

#prev, #next {
background-color: #0a0a0a;
position: absolute;
height: 60px;
width: 60px;
z-index: 2;
text-align: center;
opacity: 0.5;
-webkit-transition: opacity .2s ease-in-out;
-moz-transition: opacity .2s ease-in-out;
-ms-transition: opacity .2s ease-in-out;
-o-transition: opacity .2s ease-in-out;
transition: opacity .2s ease-in-out;
z-index: 2;
}

#prev:hover, #next:hover {
opacity: 1;
}

#prev i {
left: 20px;
}

#next i {
left: 22px;
}

#prev i , #next i{
color: #4c4b4b;
font-size: 25px;
top:20px;
position: absolute;
}

#slider {
float:left;
height: 400px;
width: 1140px;
overflow: hidden;
z-index: 1;
}

#prev:hover, #next:hover {
cursor:pointer;
}
/* ==============================================
	SINGLE POST AT HOMEPAGE
	============================================== */
	
.container .col-12 {
background: white;
font-family: lato;
font-weight:400;
margin:0!important;
padding:0 12px 12px;
}
.container .col-12:last-of-type {
margin-bottom:2%!important;
}
.container .col-12 h2 {
font-size: 20px;
margin:24px 12px 12px;
font-weight: 100;
text-transform:uppercase;
}

.container .col-12 h3{
font-size: 20px;
margin: 1% 0;
font-weight: 100;
text-transform:uppercase;
}

.work h2 {
font-size: 29px!important;
margin:14px 12px 12px!important;
}

.single-post {
width: 348px;
display: inline-block;
margin: 10px 10px;
opacity: 0.8;
-webkit-transition: 0.2s opacity ease-in-out;
-moz-transition: 0.2s opacity ease-in-out;
-ms-transition: 0.2s opacity ease-in-out;
-o-transition: 0.2s opacity ease-in-out;
transition: 0.2s opacity ease-in-out;
z-index:-3;
}

.single-post:hover {
opacity: 1;
}

/* ==============================================
	SOCIAL MEDIA HOMEPAGE
	============================================== */

.social-media {
display: block;
height: 60px;
width: 400px;
margin: auto;
}

.facebook {
background-position: 0px 0px;
}
.twitter {
background-position: -50px 0px!important;
}
.pinterest {
background-position: -100px 0px!important;
}
.instagram {
background-position: -150px 0px!important;
}
.youtube {
background-position: -200px 0px!important;
}
.vimeo {
background-position: -250px 0px!important;
}
.lastfm {
background-position: -300px 0px!important;
}

.facebook, .twitter, .pinterest, .instagram, .youtube, .vimeo, .lastfm  {
font-size: 25px;
display: block;
background:url('images/social-media.png') no-repeat;
float: left;
width: 30px;
height: 30px;
background-size: 330px 30px;
margin: 24px 10px;
opacity:0.9;
-webkit-transition: 0.2s ease-in-out;
-moz-transition: 0.2s ease-in-out;
-ms-transition: 0.2s ease-in-out;
-o-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}

.facebook:hover, .twitter:hover, .pinterest:hover, .instagram:hover, .youtube:hover, .vimeo:hover, .lastfm:hover  {
opacity:1;
}

/* ==============================================
	FOOTER
	============================================== */
	
footer {
background: white;
height:60px;
display:inline-block;
width: 100%;
text-align:center;
font-family: lato;
font-weight:400;
font-size: 15px;
}

footer p {
margin:22px;
}

footer a:hover {
text-decoration: underline;
}
/* ==============================================
	COL -8
	============================================== */
.broodkruimels {
font-size: 14px;
text-transform:uppercase;
background: white;
font-weight: 100;
}

.category .broodkruimels {
padding: 0!important;
}

.col-12 .broodkruimels {
padding: 20px 10px 0;
}

.this-page {
color: #3e3d3d;
display: inline;
font-family: lato;
font-weight:400;
}

.prev-page {
color: #3e3d3d;
display: inline;
font-family: lato;
font-weight:400;
}

.slash {
margin-left: 5px;
color: #4c4b4b;
display: inline;
font-family: lato;
font-weight:400;
}

.active-page {
color: #0a89da;
margin-left: 5px;
font-family: lato;
font-weight:100;
}
.active-page:hover ,.prev-page:hover {
text-decoration: underline;
}
.col-8 h1 , .col-12 h1{
margin: 10px 0;
font-family: lato;
font-weight:400;
text-transform: uppercase;
font-size: 30px;
}

.col-8 .category {
    font-family: lato;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    background: rgb(10, 137, 218);
    display: inline;
    padding: 3px 5px;
    margin-right: 5px;
}

.col-12.category {
font-size: 13px;
display: inline;
padding: 21px;

}

.post-image:nth-of-type(2) {
margin-top: 18px;
}

.post-image {
margin-top:12px;
width: 698px;
display: block;
z-index:-3;
}
.single-post-image {
width: 348px;
z-index: -2;
}

.seperator {
background: #e8eaed;
height: 1px;
border:0;
margin:0;
}
.seperator:nth-of-type(1) {
margin-top: 6px;
}
.post-info {
font-family: lato;
font-weight: lighter;
font-size: 15px;
line-height: 21px;
}
.post-info strong {
font-weight: 400;
}

.post-info img {
margin-top: 16px;
max-width: 698px;
margin-bottom: 3px;
}
.post-info iframe {
width: 698px;
height: 393px;
margin-top: 20px;
border-width: 0px;
}
.post-date {
margin:2px 0;
font-family: lato;
font-weight:400;
font-size: 19px;
}
.post-tags p {
font-size: 13px;
}

.post-tags a {
font-size: 13px;
font-family: lato;
font-weight:400;
text-transform: capitalize;
margin: 0 5px;
}

.post-tags a:hover {
text-decoration: underline;
}

/* ==============================================
	COL -4
	============================================== */

.newsletter {
padding: 20px 20px 20px;
font-family: lato;
font-weight: 400;
margin-bottom: 24px;
position:relative;
}
.newsletter p {
margin:0;
font-size: 19px;
padding: 0 0 13px;
}

.newsletter input {
padding: 8px 9px 8px 16px;
float: left;
color: #6ca5c5;
font-size: 14px;
background: white;
border: 1px #0668bf solid;
width: 235px;
z-index: 1;
}

.newsletter input:focus {
outline: none;
border: 1px solid #0668bf;
}

.newsletter input[type=button] {
background: #0668bf;
height: 35px;
width: 112px;
text-transform: uppercase;
color: white;
font-size: 15px;
border-width: 0;
float: right;
margin:0 -20px 0 0!important;
bottom: 20px;
right: 42px;
position:absolute;
}

.fb-like-box {
padding: 12px;
}
.more-work {
padding: 24px;
font-family: lato;
font-weight: 400;
font-size: 15px;
}
.more-work-title{
margin: -2px 0 12px;
font-size: 20px;
text-transform: uppercase;

}
.more-work-title h4 {
margin:0;
}
.single-post-col-4 {
margin-bottom: 14px;
position: relative;
display: inline-block;
color: black;
}

.single-post-col-4:last-child {
margin-bottom: 0;
}

.info {
margin: 0;
background: white;
-webkit-transition: opacity .3s ease-in-out;
-moz-transition: opacity .3s ease-in-out;
-ms-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
position: absolute;
bottom:0;
width: 327px;
opacity: 0;
}

.info h1{
font-size: 16px;
text-transform: uppercase;
margin:0;
font-family: lato;
font-weight: 400;
padding:6px 10px 3px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
font-weight: 100;
}

.info p{
font-size: 13px;
text-transform: uppercase;
margin:0;
font-family: lato;
font-weight: 100;
padding:1px 10px 6px;
}

.single-post-col-4:hover .info {
opacity: 0.9;
}

.sidebar-widget {
width: 375px;
float: right;
display: inline-block;
}

.es_caption {
font-size: 19px;
font-family: lato;
font-weight: 400;
}
.es_lablebox {
display:none;
}
.es_textbox {
padding: 0!important;
}
.es_textbox_class {
float: left;
background: white;
border: 1px #0668bf solid;
width: 234px!important;
z-index: 1;
height: 17px;
}
.es_button {
padding: 0 20px 55px 0!important;
margin-bottom: 45px;
}

.es_textbox_button {
background: #0668bf;
height: 35px;
width: 125px;
text-transform: uppercase;
color: white;
font-size: 15px;
border-width: 0;
float: right;
padding-right: 20px!important;
font-family: lato;
font-weight: 400;
}
.sidebar-widget div {
background: white;
}
.es_msg {
color: #0668bf;
}

label[for=es_txt_email],label[for=es_txt_name] {
background: #0668bf;
padding: 8px 14px;
float: left;
width: 45px;
color:white;
position:absolute;
}

label[for=es_txt_email], #es_txt_email {
top:106px;
}

label[for=es_txt_name], #es_txt_name {
opacity:0;
top:153px;
float:left;

}

#es_txt_email, #es_txt_name {
position:absolute;
left: 93px;
}

.hidden {
background:red;
}
/* ==============================================
	CATEGORY & TAG page
	============================================== */
	
.showing-posts-title {
font-family:'lato';
font-weight:400;
font-size: 20px;
text-transform:uppercase;
margin:7px 0 0;
}

.showing-posts-link {
font-family:'lato';
font-weight:700;
font-size: 20px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.category .seperator {
opacity: 0.3;
margin-top: 5px;
}
.single-post-on-category {
display:block;
padding:1% 0;
}
.single-post-on-category:hover {
background: #fbfbfb;
}
.category-image img {
width: 30%;
height: auto;
}
.category {
min-height: 1106px;
}
.category-image {
height:91px;
width: 260px;
}
.category-post-info-box {
color: black;
width: 66%;
margin-right: 2%;
float: right;
}

.category-post-title {
color: black;
font-family:'lato';
font-weight:400;
font-size: 20px;
margin: 1% 0;
/* white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
width: 415px; */
display: inline-block;
text-transform:uppercase;
}

.category-post-author {
color: black;
font-family:'lato';
font-weight:100;
font-size: 13px;
margin:3px 0 5px;

}
.category-post-author span {
color: #0668bf;
}

.category-post-info {
font-family:'lato';
font-weight:100;
font-size: 13px;
margin:0;
/* display:block;
text-overflow: ellipsis;
overflow: hidden;
height: 48px;
width:410px; */
}

.category-post-info p:first-child {
margin-top: -10px;
}

/* ==============================================
	SOCIAL MEDIA SHARE BUTTONS
	============================================== */

.social-media-share-box {
width: 698px;
display:inline-block;
position: relative;
}
.social-media-share-box p {
margin: 2px 0;
font-family:'lato';
font-weight:400;
font-size: 19px;
float:left;
}
.social-media-share-box i {
font-size: 13px;
margin-right:5px;
}
.social-media-button {
text-transform:uppercase;
padding:4px 6px 4px;
font-size: 10px;
margin-left: 2px;
}
.facebook-share-button, .twitter-share-button-jk, .g-plus-share-button, .pinterest-share-button, .linkedin-share-button, .mail-share-button {
color:white;
font-family:'arial';
font-weight:bold;
}
.facebook-share-button {
background: #306199;
margin-left: 10px;
}
.twitter-share-button-jk {
background: #26c4f1;
}

.g-plus-share-button {
background: #e93f2e;
}
.pinterest-share-button {
background: #b81621;
}

.linkedin-share-button {
background: #007bb6;
}

.mail-share-button {
background: #0a88ff;
}

.social-media-share-icons {
margin-top:4px;
}
.dl-trigger {
display:none;
}


/*
	About page
*/

.about {
//background:red!important;
padding: 5%!important;
background-image: url('images/jeroen.png')!important;

background-size: 37%!important;
background-repeat: no-repeat!important;
background-position: bottom right 54px!important;
}

.about2 {
padding: 1% 5%!important;
background:#231f20!important;
}

.about .intro {
font-size:35px;
font-family: lato;
font-weight:100;
margin:0;
}

.about h1 {
color:#4c93da;
margin:0 0 4%;
}
.about h1 span {
color:#000;
font-weight:100;
}

.about .about-me {
font-size: 20px;
font-weight:100;
line-height:24px;
}

.about hr {
border-bottom:0;
margin: 6% 0;
border-top: #f3f5f6 1px solid;
}

.about h2 {
    font-size: 20px!important;
    margin:0!important;
    font-weight: 400!important;
	color:#6aa3df;
	text-transform:uppercase;
}

.about ul {
    list-style-type: square;
    margin: 0;
    padding: 2% 5%;
}

.about ul li {
margin:3% 0;
}
.about .progress {
margin: 1% 0;
width:85%;
}
ul.socialmedia li i {
    font-size: 60px;
    background: #fff;
    border-radius: 11px;
	margin: 0 7px 7px 0;
    line-height: 50px;
}
ul.socialmedia li {
display:inline;
}

.about2 h1{
text-transform: uppercase;
font-family: lato;
font-weight: 400;
font-size: 24px;
color: #eee;
}

.fa-pinterest-square {color:#cc2127;}
.fa-facebook-square {color:#3b5999;}
.fa-twitter-square {color:#5ea9dd;}
.fa-vimeo-square {color:#1ab7ea;}
.fa-lastfm-square {color:#d21309;}


.download a{
color:#888;
font-size: 15px;

}

.download a:hover {
text-decoration:underline;
}

.download a i {
font-size: 40px;
color:#888;
margin: 0 2% 0;
}

.error-404 {
margin:auto;
width:40%;
display:block;
}

.category hr {
border-bottom:0;
margin: 2% 0;
border-top: #f3f5f6 1px solid;
}
@media only screen
  and (min-width : 1054px)
  and (max-width : 1180px)
{
	body {
	//background:yellow;
	}
	.about {
	background-size: 42%!important;
	}
	.container {
	width: 1024px;
	}
	#slider {
	width:1024px;
	height:359px;
	}
	#slider img ,.slideshow-post-image {
	width: 1024px;
	height: auto;
	}
	.single-post-image, .single-post, .single-post-image img {
	width: 310px;
	height: auto;
	}
	#next, #prev {
	top: 160px;
	}
	.col-8 {
	width: 660px;
	}
	.sidebar-widget, .col-4 {
	width: 340px;
	}
	.sidebar-widget {
	width: 340px!important;
	overflow:hidden;
	}
	.post-info iframe {
	width: 617px;
	height: 357px;
	}
	.social-media-title h4 {
	font-size: 13px!important;
	}
	.col-8 h1 {
	font-size: 27px;
	}
	.broodkruimels {
	font-size: 13px;
	}
	.es_textbox_class {
	width: 198px!important;
	}
	.sidebar-widget iframe {
	width: 313px!important;
	height: 289px!important;
	margin-left:35px;
	}
	.col-4 .facebook, .col-4 .twitter, .col-4 .pinterest, .col-4 .instagram, .col-4 .youtube, .col-4 .vimeo, .col-4 .lastfm {
	margin: 0 14px 0 0!important;
	}
	.more-work img {
	width: 293px;
	height: 100%;
	}
	.info {
	width: 293px;
	}
	.social-media-share-box p {
	margin: 8px 0 0!important;
	font-size: 13px;
	text-transform:uppercase;
	}
	.social-media-share-box p span {
	display:none;
	}
	.social-media-button {
	margin-left: -1px;
	}
	.seperator {
	width: 616px;
	}
	.facebook-like-box {
	margin-left: -32px;
	}
}

@media only screen
  and (min-width : 768px)
  and (max-width : 1054px)
{
	body{
	//background:pink;
	}
	.error-404 {
	 width: 80%;
	 }
	.about {
	background-size:32%!important;
	}
	.progress-bars {
	width:50%;
	}
	.col-6 {
	width:100%;
	}
	.container {
	width: 718px;

	}
	.slideshow-post {
	height:500px;
	}
	#slider {
	width:718px;
	height: 248px;
	}

	#slider img,.slideshow-post-image {
	width: 718px;
	height: auto;
	}
	.single-post-image, .single-post, .single-post-image img {
	width: 324px;
	height: auto;
	}
	#next, #prev {
	top: 84px;
	}
	#logo {
	margin-left: 15px;
	}
	.col-8, .col-4 {
	width:718px;
	}
	.post-info iframe {
	width: 718px;
	height: 405px;
	margin-left: -21px;
	}
	.sidebar-widget .iframefb {
	width: 694px!important;
	float:left;
	}
	.sidebar-widget{
	width: 718px!important;
	}
	.social-circles {
	margin-top: 24px;
	}
	.social-media-title h4 {
	font-size: 30px!important;
	//font-family: adelleregular!important;
	}
	.col-4 .social-media {
	width:auto!important;
	}
	.post-info img {
	max-width:675px;
	width: 675px;
	height:auto;
	}
	.newsletter, .social-circles {
	display:none;
	}
	.seperator {
	width: 676px;
	}
	.social-media-share-box p {
	margin: 8px 0 0!important;
	font-size: 13px;
	text-transform:uppercase;
	}
	.more-work {
	padding: 23px 13px;
	}
	.more-work img {
	height: 100%;
	margin-right:16px;
	}
	.info, .more-work img, .single-detail-post-image {
	width: 324px;
	height: auto;
	}
	.single-post-col-4 {
	margin:10px;
	}
	.more-work-title {
	margin: -5px 0 6px 8px;
	}
	
	.category-image img {
    width: 100%;
    height: auto;
	}
	.category-post-info-box {
    width: 100%;
    margin-right: 0;
    float: none;
	}
	
}
@media only screen
  and (min-width : 480px)
  and (max-width : 767px)
{
	body {
	//background:green;
	}
	.category .broodkruimels{
	display:none;
	}
		.category-image img {
    width: 100%;
    height: auto;
	}
	.category-post-info-box {
    width: 100%;
    margin-right: 0;
    float: none;
	}
	
		.error-404 {
	 width: 80%;
	 }
	.about {
	background-size:42%!important;
	    background-position: bottom right 14px!important;
	}
	.progress-bars {
	width:50%;
	font-size: 13px;
	}
	.col-6 {
	width:100%;
	}
	.container {
	width: 460px;
	}
	#slider {
	width:460px;
	height:161px;
	}
	#slider img,.slideshow-post-image {
	width: 460px;
	height: auto;
	}
	.single-post { 
	opacity:1;
	}
	.single-post-image, .single-post, .single-post-image img {
	width: 416px;
	z-index:-1;
	height: auto;
	}
	#next, #prev {
	top: 55px;
	background-color:rgba(0,0,0,0);
	}
	
	#prev i {
	left: -10px;
	}
	
	#next i {
	left: 52px;
	}
	#prev i, #next i {
	color:white;
	}
	.social-media {
	width: 450px;
	}

	#logo {
	margin-left: 15px;
	}
	.slideshow {
	margin-top: -28px;
	}
	.dl-trigger {
	display:block;
	}
	#navigation {
	float:none;
	margin-top:0;
	}
	#navigation ul li a {
	padding: 12px 10px;
	margin-top: 0px;
	border-top: #999 1px solid;
	}
	#navigation ul li a:hover {
	background: white;
	color: #000;
	}
	/* Common styles of menus */
	.dl-menuwrapper {
		width: 100%;
		max-width: 300px;
		float: left;
		position: relative;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		-webkit-perspective-origin: 50% 200%;
		perspective-origin: 50% 200%;
	}

	.dl-menuwrapper:first-child {
		margin-right: 100px;
		z-index:2;
	}

	.dl-menuwrapper button {
		background: #ccc;
		border: none;
		width: 48px;
		height: 45px;
		text-indent: -900em;
		overflow: hidden;
		position: absolute;
		cursor: pointer;
		outline: none;
		right: -140px;
		top: -40px;
	}

	.dl-menuwrapper button:hover,
	.dl-menuwrapper button.dl-active{
	background:#999;
	}
	.dl-menuwrapper ul {
		background: #eee;
		border-bottom: #999 1px solid;
	}

	.dl-menuwrapper button:after {
		content: '';
		position: absolute;
		width: 68%;
		height: 5px;
		background: #fff;
		top: 10px;
		left: 16%;
		box-shadow: 
			0 10px 0 #fff, 
			0 20px 0 #fff;
	}

	.dl-menuwrapper ul {
		padding: 0;
		list-style: none;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.dl-menuwrapper li {
		position: relative;
	}

	.dl-menuwrapper li a {
		display: block;
		position: relative;
		padding: 15px 20px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
		color: #fff;
		outline: none;
	}

	.no-touch .dl-menuwrapper li a:hover {
		background:#999;
	}

	.dl-menuwrapper li.dl-back > a {
		padding-left: 30px;
		background: rgba(0,0,0,0.1);
	}

	.dl-menuwrapper li.dl-back:after,
	.dl-menuwrapper li > a:not(:only-child):after {
		position: absolute;
		top: 0;
		line-height: 50px;
		font-family: 'icomoon';
		speak: none;
		-webkit-font-smoothing: antialiased;
		content: "\e000";
	}

	.dl-menuwrapper li.dl-back:after {
		left: 10px;
		color: rgba(212,204,198,0.3);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.dl-menuwrapper li > a:after {
		right: 10px;
			background:#999;
	}

	.dl-menuwrapper .dl-menu {
		margin: 26px 0 0 0;
		position: absolute;
		width: 460px;
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.dl-menuwrapper .dl-menu.dl-menu-toggle {
		transition: all 0.3s ease;
	}

	.dl-menuwrapper .dl-menu.dl-menuopen {
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		width:460px;
		z-index:2;
	}

	/* No JS Fallback */
	.no-js .dl-menuwrapper .dl-menu {
		position: relative;
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

	.no-js .dl-menuwrapper li .dl-submenu {
		display: block;
	}

	.no-js .dl-menuwrapper li.dl-back {
		display: none;
	}

	.no-js .dl-menuwrapper li > a:not(:only-child) {
		background: rgba(0,0,0,0.1);
	}

	.no-js .dl-menuwrapper li > a:not(:only-child):after {
		content: '';
	}
	.col-8, .col-4 {
	width:460px;
	}
	.col-8 h1{
	font-size:19px;
	}
	.active-page {
	display:none;
	}
	.col-8 .category {
	font-size: 11px;
	padding: 3px 6px 3px 5px;
	}
	.post-info iframe {
	width: 460px;
	height: 260px;
	margin-left: -21px;
	}
	.post-info p{
	font-size: 14px;
	line-height: 19px;
	}
	.seperator {
	width: 418px;
	}
	.facebook-share-button, .twitter-share-button-jk, .g-plus-share-button, .pinterest-share-button, .linkedin-share-button, .mail-share-button {
	display: inline-block;
	margin: 5px 0;
	width: 13px;
	}
	.social-media-share-icons {
	margin-top: 25px;
	}
	.social-media-button {
	text-transform: uppercase;
	font-size: 15px;
	padding: 10px 41px 9px 12px;
	margin: 0;
	}
	.social-media-share-box i {
	font-size: 45px;
	margin-right: 8px;
	}
	.extra {
	display:none;
	}
	.share {
	font-size: 10px;
	text-transform: uppercase;
	}
	.social-media-title h4 {
	font-size: 19px!important;
	//font-family: adelleregular!important;
	margin: 16px 16px 0px!important;
	}
	.col-4 .facebook, .col-4 .twitter, .col-4 .pinterest, .col-4 .instagram, .col-4 .youtube, .col-4 .vimeo, .col-4 .lastfm {
	margin: 0 26px 0 5px!important;
	}
	.col-4 .social-media {
	width: 430px!important;
	}
	.sidebar-widget {
	width: 460px;
	}
	.es_textbox_class {
	width: 318px!important;
	}
	.es_caption {
	font-size: 17px;
	}
	.sidebar-widget .iframefb {
	width: 430px!important;
	float:left;
	}

	.more-work {
	padding: 23px 13px;
	}
	.more-work img {
	height: 100%;
	margin-right:16px;
	}
	.info, .more-work img, .single-detail-post-image {
	width: 414px;
	height: auto;
	}
	.single-post-col-4 {
	margin:10px;
	}
	.more-work-title {
	margin: -2px 0 12px 9px!important;
	}
	.post-info img {
	max-width:414px;
	height:auto;
	}
	.social-media-share-box {
	width: auto;
	}
	.es_button {
	margin-top: 33px;
	}
	.social-media .facebook, .social-media .twitter, .social-media .pinterest, .social-media .instagram, .social-media .youtube, .social-media .vimeo, .social-media .lastfm {
	margin: 24px 17px!important;
	}
}
@media only screen
  and (min-width : 240px)
  and (max-width : 480px)
{
	body {
	//background:purple;
	}
	.category .broodkruimels{
	display:none;
	}
	.category-image img {
    width: 100%;
    height: auto;
	}
	.category-post-info-box {
    width: 100%;
    margin-right: 0;
    float: none;
	}
	
	.error-404 {
	 width: 100%;
	 }
	.about {
	background-image:none!important;
	}
	.col-6 {
	width:100%;
	}
	
	.container {
	width: 320px;
	}
	#slider {
	width:320px;
	height:112px;
	}
	#slider img,.slideshow-post-image {
	width: 320px;
	height: auto;
	}
	.single-post { 
	opacity:1;
	}
	.single-post-image, .single-post, .single-post-image img {
	width: 276px;
	z-index:-1;
	height: auto;
	}
	#next, #prev {
	top: 25px;
	background-color:rgba(0,0,0,0);
	}
	
	#prev i {
	left: -10px;
	}
	
	#next i {
	left: 52px;
	}
	#prev i, #next i {
	color:white;
	}
	.social-media {
	width: 320px;
	}
	.facebook, .twitter, .pinterest, .instagram, .youtube, .vimeo, .lastfm {
	width:25px;
	height:25px;
	background-size: 242px 22px;
	margin: 17px 10px;
	}
	
	.facebook {
	background-position: 0px 0px;
	}
	.twitter {
	background-position: -34px 0px!important;
	}
	.pinterest {
	background-position: -72px 0px!important;
	}
	.instagram {
	background-position: -108px 0px!important;
	}
	.youtube {
	background-position: -146px 0px!important;
	}
	.vimeo {
	background-position: -183px 0px!important;
	}
	.lastfm {
	background-position: -220px 0px!important;
	}
	#logo {
	margin-left: 15px;
	}
	.slideshow {
	margin-top: -28px;
	}
	.dl-trigger {
	display:block;
	}
	#navigation {
	float:none;
	margin-top:0;
	}
	#navigation ul li a {
	padding: 12px 10px;
	margin-top: 0px;
	border-top: #999 1px solid;
	}
	#navigation ul li a:hover {
	background: white;
	color: #000;
	}
	/* Common styles of menus */
	.dl-menuwrapper {
		width: 100%;
		max-width: 300px;
		float: left;
		position: relative;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		-webkit-perspective-origin: 50% 200%;
		perspective-origin: 50% 200%;
	}

	.dl-menuwrapper:first-child {
		margin-right: 100px;
		z-index:2;
	}

	.dl-menuwrapper button {
		background: #ccc;
		border: none;
		width: 48px;
		height: 45px;
		text-indent: -900em;
		overflow: hidden;
		position: absolute;
		cursor: pointer;
		outline: none;
		right: 0px;
		top: -40px;
	}

	.dl-menuwrapper button:hover,
	.dl-menuwrapper button.dl-active{
	background:#999;
	}
	.dl-menuwrapper ul {
		background: #eee;
		border-bottom: #999 1px solid;
	}

	.dl-menuwrapper button:after {
		content: '';
		position: absolute;
		width: 68%;
		height: 5px;
		background: #fff;
		top: 10px;
		left: 16%;
		box-shadow: 
			0 10px 0 #fff, 
			0 20px 0 #fff;
	}

	.dl-menuwrapper ul {
		padding: 0;
		list-style: none;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.dl-menuwrapper li {
		position: relative;
	}

	.dl-menuwrapper li a {
		display: block;
		position: relative;
		padding: 15px 20px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
		color: #fff;
		outline: none;
	}

	.no-touch .dl-menuwrapper li a:hover {
		background:#999;
	}

	.dl-menuwrapper li.dl-back > a {
		padding-left: 30px;
		background: rgba(0,0,0,0.1);
	}

	.dl-menuwrapper li.dl-back:after,
	.dl-menuwrapper li > a:not(:only-child):after {
		position: absolute;
		top: 0;
		line-height: 50px;
		font-family: 'icomoon';
		speak: none;
		-webkit-font-smoothing: antialiased;
		content: "\e000";
	}

	.dl-menuwrapper li.dl-back:after {
		left: 10px;
		color: rgba(212,204,198,0.3);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.dl-menuwrapper li > a:after {
		right: 10px;
			background:#999;
	}

	.dl-menuwrapper .dl-menu {
		margin: 26px 0 0 0;
		position: absolute;
		width: 320px;
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.dl-menuwrapper .dl-menu.dl-menu-toggle {
		transition: all 0.3s ease;
	}

	.dl-menuwrapper .dl-menu.dl-menuopen {
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		width:320px;
		z-index:2;
	}

	/* No JS Fallback */
	.no-js .dl-menuwrapper .dl-menu {
		position: relative;
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

	.no-js .dl-menuwrapper li .dl-submenu {
		display: block;
	}

	.no-js .dl-menuwrapper li.dl-back {
		display: none;
	}

	.no-js .dl-menuwrapper li > a:not(:only-child) {
		background: rgba(0,0,0,0.1);
	}

	.no-js .dl-menuwrapper li > a:not(:only-child):after {
		content: '';
	}	.col-8, .col-4 {
	width:320px;
	}
	.col-8 h1{
	font-size:19px;
	}
	.active-page {
	display:none;
	}
	.col-8 .category {
	font-size: 11px;
	padding: 3px 6px 3px 5px;
	}
	.post-info iframe {
	width: 320px;
	height: 180px;
	margin-left: -21px;
	}
	.post-info p{
	font-size: 14px;
	line-height: 19px;
	}
	.seperator {
	width: 278px;
	}
	.facebook-share-button, .twitter-share-button-jk, .g-plus-share-button, .pinterest-share-button, .linkedin-share-button, .mail-share-button {
	display: inline-block;
	margin: 5px 0;
	width: 13px;
	}
	.social-media-share-icons {
	margin-top: 25px;
	}
	.social-media-button {
	text-transform: uppercase;
	font-size: 15px;
	padding: 9px 20px 9px 10px;
	margin: 0;
	}
	.social-media-share-box i {
	font-size: 24px;
	margin-right: 8px;
	}
	.extra {
	display:none;
	}
	.share {
	font-size: 10px;
	text-transform: uppercase;
	}
	.social-media-title h4 {
	font-size: 12px!important;
	}
	.col-4 .facebook, .col-4 .twitter, .col-4 .pinterest, .col-4 .instagram, .col-4 .youtube, .col-4 .vimeo, .col-4 .lastfm {
	margin: 0 16px 0 0!important;
	}
	.col-4 .social-media {
	width: 290px!important;
	}
	.sidebar-widget {
	width: 320px;
	}
	.es_textbox_class {
	width: 180px!important;
	}
	.es_caption {
	font-size: 17px;
	}
	.sidebar-widget .iframefb {
	width: 296px!important;
	float:left;
	}

	.more-work {
	padding: 23px 13px;
	}
	.more-work img {
	height: 100%;
	margin-right:16px;
	}
	.info, .more-work img, .single-detail-post-image {
	width: 274px;
	height: auto;
	}
	.single-post-col-4 {
	margin:10px;
	}
	.more-work-title {
	margin: -2px 0 12px 9px!important;
	}
	.post-info img {
	max-width:280px;
	height:auto;
	}
	.social-media-share-box {
	width: auto;
	}
	.es_button {
	margin-top: 10px;
	}
}
@media only screen
  and (min-width : 0px)
  and (max-width : 240px)
{
	body {
	//background:orange;
	}
	.category .broodkruimels{
	display:none;
	}
	.about .about-me {
    font-size: 17px;
	}
	.container {
	width: 180px;
	}
	#slider {
	width:180px;
	height:63px;
	}
	#slider img,.slideshow-post-image {
	width: 180px;
	height: auto;
	}
	.single-post { 
	opacity:1;
	}
	.single-post-image, .single-post, .single-post-image img {
	width: 137px;
	z-index:-1;
	height: auto;
	height: auto;
	}
	#next, #prev {
	top: 0px;
	background-color:rgba(0,0,0,0);
	}
	#prev i {
	left: -10px;
	}
	
	#next i {
	left: 52px;
	}
	#prev i, #next i {
	color:white;
	}
	.social-media {
	display:none;
	}
	footer {
	margin-top: 21px;
	}
	footer p {
	margin: 22px;
	font-size: 11px;
	}
	.social-circles {
	display:none;
	}
	#logo {
	margin-left: 15px;
	}
	.slideshow {
	margin-top: -28px;
	}
	.dl-trigger {
	display:block;
	}
	#navigation {
	float:none;
	margin-top:0;
	}
	#navigation ul li a {
	padding: 12px 10px;
	margin-top: 0px;
	border-top: #999 1px solid;
	}
	#navigation ul li a:hover {
	background: white;
	color: #000;
	}
	/* Common styles of menus */
	.dl-menuwrapper {
		width: 100%;
		max-width: 180px;
		float: left;
		position: relative;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		-webkit-perspective-origin: 50% 200%;
		perspective-origin: 50% 200%;
	}

	.dl-menuwrapper:first-child {
		margin-right: 100px;
		z-index:2;
	}

	.dl-menuwrapper button {
		background: #ccc;
		border: none;
		width: 49px;
		height: 44px;
		text-indent: -900em;
		overflow: hidden;
		position: absolute;
		cursor: pointer;
		outline: none;
		right: 0px;
		top: -40px;
	}

	.dl-menuwrapper button:hover,
	.dl-menuwrapper button.dl-active{
	background:#999;
	}
	.dl-menuwrapper ul {
		background: #eee;
		border-bottom: #999 1px solid;
	}

	.dl-menuwrapper button:after {
		content: '';
		position: absolute;
		width: 60%;
		height: 4px;
		background: #fff;
		top: 10px;
		left: 16%;
		box-shadow: 
			0 10px 0 #fff, 
			0 20px 0 #fff;
		margin-left:2px;
	}

	.dl-menuwrapper ul {
		padding: 0;
		list-style: none;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.dl-menuwrapper li {
		position: relative;
	}

	.dl-menuwrapper li a {
		display: block;
		position: relative;
		padding: 15px 20px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
		color: #fff;
		outline: none;
	}

	.no-touch .dl-menuwrapper li a:hover {
		background:#999;
	}

	.dl-menuwrapper li.dl-back > a {
		padding-left: 30px;
		background: rgba(0,0,0,0.1);
	}

	.dl-menuwrapper li.dl-back:after,
	.dl-menuwrapper li > a:not(:only-child):after {
		position: absolute;
		top: 0;
		line-height: 50px;
		font-family: 'icomoon';
		speak: none;
		-webkit-font-smoothing: antialiased;
		content: "\e000";
	}

	.dl-menuwrapper li.dl-back:after {
		left: 10px;
		color: rgba(212,204,198,0.3);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.dl-menuwrapper li > a:after {
		right: 10px;
			background:#999;
	}

	.dl-menuwrapper .dl-menu {
		margin: 26px 0 0 0;
		position: absolute;
		width: 180px;
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.dl-menuwrapper .dl-menu.dl-menu-toggle {
		transition: all 0.3s ease;
	}

	.dl-menuwrapper .dl-menu.dl-menuopen {
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		width:180px;
		z-index:2;
	}

	/* No JS Fallback */
	.no-js .dl-menuwrapper .dl-menu {
		position: relative;
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

	.no-js .dl-menuwrapper li .dl-submenu {
		display: block;
	}

	.no-js .dl-menuwrapper li.dl-back {
		display: none;
	}

	.no-js .dl-menuwrapper li > a:not(:only-child) {
		background: rgba(0,0,0,0.1);
	}

	.no-js .dl-menuwrapper li > a:not(:only-child):after {
		content: '';
	}
	.col-8, .col-4 {
	width:180px;
	}
	.col-8 h1{
	font-size:19px;
	}
	.active-page {
	display:none;
	}
	.col-8 .category {
	font-size: 11px;
	padding: 3px 6px 3px 5px;
	}
	.post-info iframe {
	width: 180px;
	height: 111px;
	margin-left: -21px;
	}
	.post-info p{
	font-size: 12.5px;
	line-height: 19px;
	}
	.seperator {
	width: 137px;
	}
	.facebook-share-button, .twitter-share-button-jk, .g-plus-share-button, .pinterest-share-button, .linkedin-share-button, .mail-share-button {
	display: inline-block;
	margin: 5px 0;
	width: 13px;
	}
	.social-media-share-icons {
	margin-top: 25px;
	}
	.social-media-button {
	text-transform: uppercase;
	font-size: 15px;
	padding: 9px 20px 9px 10px;
	margin: 2px 0;
	}
	.social-media-share-box i {
	font-size: 24px;
	margin-right: 8px;
	}
	.extra {
	display:none;
	}
	.share {
	font-size: 10px;
	text-transform: uppercase;
	}
	.social-media-title h4 {
	font-size: 12px!important;
	}
	.es_caption {
	font-size: 15px!important;
	}
	.newsletter {
	font-size:10px;
	}
	.newsletter input {
	padding: 5px 29px 4px 13px;
	margin-left: -18px;
	}
	input {
	font-size: 10px!important;

	}
	label[for=es_txt_email], label[for=es_txt_name] {
	width:27px;
	}
	label[for=es_txt_email], #es_txt_email {
	top: 148px;
	}
	label[for=es_txt_name], #es_txt_name {
	top: 193px;
	}
	.newsletter input[type=button] {
	width:139px;
	}
	.col-4 .facebook, .col-4 .twitter, .col-4 .pinterest, .col-4 .instagram, .col-4 .youtube, .col-4 .vimeo, .col-4 .lastfm {
	margin: 0 16px 0 0!important;
	}
	.col-4 .social-media {
	width: 180px!important;
	}
	.sidebar-widget {
	width: 180px;
	}
	.es_textbox_class {
	width: 40px!important;
	}
	.es_caption {
	font-size: 17px;
	}
	.sidebar-widget .iframefb {
	width: 156px!important;
	float:left;
	}

	.more-work {
	padding: 23px 13px;
	}
	.more-work img {
	height: 100%;
	margin-right:16px;
	}
	.info, .more-work img, .single-detail-post-image {
	width: 134px;
	height: auto;
	}
	.single-post-col-4 {
	margin:10px;
	}
	.more-work-title {
	margin: -2px 0 12px 9px!important;
	}
	.post-info img {
	max-width:220px;
	height:auto;
	}
	.social-media-share-box {
	width: auto;
	}
	.es_button {
	margin-top: 10px;
	}
	.adsbygoogle {
	background: green;
	display:none!important;
	}
	#logo h1 {
	width: 80px;
	}
	#logo h1 a {
	width:120px;
	background-size: 100px 48px!important;
	margin-left:-5px;
	}
	.container .col-12 h2 {
	font-size: 16px;
	}
	ul.socialmedia li i {
	font-size:59px;
	}
}
.sidebar-ad {
height: 60px;
}
#comments {
display:none;
}